extends layout

block content
	h1 Add site(s)
	form(class="form-horizontal" method="post")
		div(class="form-group col-md-5")
			textarea(class="form-control" name="urls")
			button(class="btn btn-success") submit
	