extends layout

block content
	h1 Obfuscator

	h2 Active
	a(href="/on") on
	br
	a(href="/off") off

	h3 Options
	ul
		li 
			a(href="/add-site") add site
		li 
			a(href="/view-sites") view sites
		li 
			a(href="/logs") logs